.deepDiveRankings {
    width: 100%;
    background-color: #232f3f;
    outline-style: solid;
    outline-color: #3d526d;
    outline-width: 1.5px;
    border-radius: 5px;
    padding: 5px;
    max-width: 65px;
    max-height: 65px;
    min-width: 65px;
    min-height: 65px;
    margin-left: auto;
}

.titleContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.deepDiveRankings h1 {
    font-size: 10px;
    position: static;
    right: 0px;
    cursor: pointer;
    user-select: none;
}

.deepDiveRankings p {
    font-size: 10px;
    margin: 0;
}

.deepDiveRankings strong {
    font-size: 32px;
    text-align: center;
    display: block;
    line-height: 1;
    margin-top: 7px;
}

.darkText {
    color: white;
}

.lightText {
    color: rgb(61, 61, 61);
}

.rankingGood {
    background-color: #f4f9f2;
    outline-color: #a3d9a5; 
}

.rankingNeutral {
    background-color: #f9f9f2;
    outline-color: #d4d9a3; 
}

.rankingBad {
    background-color: #f9f2f2;
    outline-color: #d9a3a3; 
}

.rankingGoodDark {
    background-color: #233f25;
    outline-color: #3d6d47;
}

.rankingNeutralDark {
    background-color: #3c3f23;
    outline-color: #636d3d;
}

.rankingBadDark {
    background-color: #3f2323;
    outline-color: #6d3d3d;
}


.deepDiveRankings a:hover {
    background-color: rgb(64, 91, 107);
}

.fadeIn {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.fadeIn.visible {
    opacity: 1;
}
