.deepDiveResults {
    width: 100%;
    outline-style: solid;
    outline-width: 1.5px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
}

.dark {
    background-color: #232f3f;
    outline-color: #3d526d;
    color: white;
}

.light {
    background-color: #e5edf5;
    outline-color: #a8b9ce;
    color: rgb(61, 61, 61);;
}

.dark a {
    background-color: #344253;
}

.light a {
    background-color: #cdd6e4;
}

.deepDiveResults li {
    display: inline-block;
}

.deepDiveResults a {

    border-radius: 25px;
    margin: 10px 5px;
    padding: 8px;
    font-size: 14px;
    display: inline-block;
}

.dark a:hover {
    background-color: rgb(64, 91, 107);
}

.light a:hover {
    background-color: #adbed1
}

.deepDiveResults img {
    padding: 2px;
    margin-left: 8px;
    background-color: white;
    border-radius: 15px;
    margin-top: 7px;
}